html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.container{
	height: 100%;
	width: 60%;
	overflow-y: auto;
	margin: 0 20%;
}
.inner{
	height: 100%;
	width: 100%;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}